# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.so
*.a

# Folders
_vendor/
bin/

# Executables

# Dependency directories (remove these if you manage dependencies outside of your repository)
/vendor/

# Logs and temporary files
*.log
*.tmp
*.out

# IDE/Editor specific files
.idea/
.vscode/

# Environment variables file
.env
.env.local

node_modules/
package-lock.json
dist/

.VSCodeCounter